body{
  background: rgba(245, 245, 245, 0.753);
}
div.wrapper {
  width: 285px;
  height: 200px;
  position: absolute;
  top: calc(50% - 200px / 2);
  left: calc(50% - 285px / 2);
  background-color: #ededed;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.288);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

div.wrapper > div.captcha {
  width: 80%;
  height: 35%;
  background-color: #a6cfc3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  letter-spacing: 5px;
  font-family: LemonPopsicle;
}

div.wrapper > p:nth-of-type(1) {
  width: 80%;
  text-align: left;
  font-size: 12px;
  color: #002876;
}


div.wrapper > p:nth-last-of-type(1) {
  width: 80%;
  text-align: left;
  font-size: 12px;
  color: #d30101;
  opacity: 0;
}

div.input {
  width: 80%;
  height: 12%;
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
}

div.input > input {
  all: unset;
  width: 70%;
  height: 100%;
  background-color: white;
  border-radius: 2.5px;
  padding: 0 15px;
  box-sizing: border-box;
}
div.input > button {
  all: unset;
  width: 30%;
  height: 100%;
  font-size: 12px;
  color: white;
  text-align: center;
  background-color: #002876;
  border-radius: 2.5px;
  transition: all 150ms linear;
}

div.input > button:hover {
  background-color: #002776bb;
}
